@import "partials/variables";

body{
	margin: 0px;
	padding: 0px;
	font-family: $main-font-family;
	text-align: left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#navbar{
	width: 100%;
	height:$navbar-height;
	background-color: $main-blue;
}

#home, #angels, #notifications{
	float:left;	
	font-size: 20px;
	font-weight: 700;
	line-height: $navbar-height;
	margin-left: 50px;
	a{
		color: #ffffff;
		text-decoration:none;
		cursor: pointer;
		&:hover, &:focus{
			color: $alice-blue;
		}
	}
}

.dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
    	display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    p {
    	font-size: 16px;
		font-weight: 400;
		line-height: 20px;
    	color: #dcdcdc;
    }
}

h3{
	color: $main-blue;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: $main-font-family;
    line-height: 1.42857143;
    color: $gray-text;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea {
    overflow: auto;
    box-sizing: border-box;
}

textarea.form-control {
    height: auto;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

::-webkit-input-placeholder {
    font-family: $main-font-family;
}
:-moz-placeholder {
    font-family: $main-font-family;
}
::-moz-placeholder {
    font-family: $main-font-family;
}
:-ms-input-placeholder {
    font-family: $main-font-family;
}

.pull-right {
    float: right!important;
}

.btn{
	display: inline-block;
	cursor: pointer;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary{
	color: #fff;
    background-color: $main-blue;
    border-color: #337ab7;
}

.quotes-list, .angels-list{
    li{
	   list-style-type: none;
       margin-bottom: 10px;
    }
}

.angel-name, .angel-quote{
	font-size: 18px;
    a{
        text-decoration:none;
        cursor: pointer;
        color: black;
        &:hover, &:focus{
            color: $main-blue;
        }
    }
}

.blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17px;
    border-left: 5px solid #eee;
}

.quote-text{
	color:$main-blue;
}

.quote-date, .direction-text{
	color: $gray-text;
	font-size: 14px;
}

.direction-text{
    margin-bottom: 20px;
}
